[DXR]
enabled_plugins = *
disabled_plugins = python buglink xpidl
[binaryen]
source_folder       = /home/dxr/dxr/projects/binaryen
object_folder       = /home/dxr/dxr/projects/build/binaryen
build_command       = cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Debug -DENABLE_WERROR=Off /home/dxr/dxr/projects/binaryen && ninja -v && env CXX_FLAGS="-Xclang -load -Xclang /home/dxr/dxr/dxr/plugins/clang/libclang-index-plugin.so -Xclang -add-plugin -Xclang dxr-index -Xclang -plugin-arg-dxr-index -Xclang /home/dxr/projects/binaryen" build_with_dxr --build-path /home/dxr/dxr/projects/build/binaryen
