[DXR]
enabled_plugins = *
disabled_plugins = python buglink xpidl
[llvm]
source_folder       = /home/dxr/dxr/projects/llvm
object_folder       = /home/dxr/dxr/projects/build/llvm
build_command       = cmake -G "Ninja" -DBUILD_SHARED_LIBS=On /home/dxr/dxr/projects/llvm && ninja -v all && env CXX_FLAGS="-Xclang -load -Xclang /home/dxr/dxr/dxr/plugins/clang/libclang-index-plugin.so -Xclang -add-plugin -Xclang dxr-index -Xclang -plugin-arg-dxr-index -Xclang /home/dxr/projects/llvm" build_with_dxr --build-path /home/dxr/dxr/projects/build/llvm
