[DXR]
enabled_plugins = clang pygmentize
disabled_plugins = python buglink xpidl

[ninja]
source_folder = /Users/vkal/repos/ninja
object_folder = /Users/vkal/repos/ninja/build
build_command = env CC="$LLVM_BINDIR/clang++" CXX="$LLVM_BINDIR/clang++" CFLAGS="$DXR_CLANG_FLAGS -isysroot /Applications/Xcode-11.2.1.11B500.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk" CXXFLAGS="$DXR_CLANG_FLAGS -isysroot /Applications/Xcode-11.2.1.11B500.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk" ../configure.py --bootstrap
