[DXR]
enabled_plugins = *
disabled_plugins = python buglink xpidl

[swift]
source_folder       = /home/dxr/dxr/projects/swift-source
object_folder       = /home/dxr/dxr/projects/swift-source
build_command       = env CXX_FLAGS="-Xclang -load -Xclang $HOME/dxr/dxr/plugins/clang/libclang-index-plugin.so -Xclang -add-plugin -Xclang dxr-index -Xclang -plugin-arg-dxr-index -Xclang $HOME/dxr/projects/swift-source" /home/dxr/dxr/projects/swift-source/build-with-dxr.py --build /home/dxr/dxr/projects/swift-source/build
