[DXR]
enabled_plugins = *
disabled_plugins = python buglink xpidl
[wabt]
source_folder       = /home/dxr/dxr/projects/wabt
object_folder       = /home/dxr/dxr/projects/build/wabt
build_command       = cmake -G "Ninja" /home/dxr/dxr/projects/wabt && ninja -v && env CXX_FLAGS="-Xclang -load -Xclang /home/dxr/dxr/dxr/plugins/clang/libclang-index-plugin.so -Xclang -add-plugin -Xclang dxr-index -Xclang -plugin-arg-dxr-index -Xclang /home/dxr/projects/wabt" build_with_dxr --build-path /home/dxr/dxr/projects/build/wabt
